# This config helps maintain coding style
# between different IDEs

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
charset = utf-8

[*.{yml,yaml}]
indent_size = 2

[*.java]
max_line_length = 120
ij_continuation_indent_size = 4
ij_java_use_single_class_imports = true
ij_java_class_count_to_use_import_on_demand = 99
ij_java_names_count_to_use_import_on_demand = 99
